<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="demo12">
    <classes>
      <class name="practice.demohardassert"/>
      <class name="practice.demotest"/>
      <class name="practice.demosoftassert"/>
    </classes>
  </test> <!-- demo12 -->
</suite> <!-- Suite -->
